html
	head
		block title
			title Home
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		link(href='css/bootstrap.min.css', rel='stylesheet')
		link(href='css/styles.css', rel='stylesheet')
		script(src='//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js')
		script(src='js/bootstrap.min.js')
		script(src='js/scripts.js')
body
	div(class="container")
		div(class="col-sm-12 col-md-10 col-lg-6 col-lg-offset-3 main")
			block content